.banner-itens{
  background-color: grey;
  background-image: url(/pictures/banner2.jpg);
  background-size: contain ;
  background-blend-mode: multiply;
  height: 70vh;
  background-position: top center;
}

.banner__titulo-itens{
  color: var(--white);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  width: 70%;
  margin-left: 10%;
  text-align: left;
  padding: 10% 0 10%;
}

.itens-disponiveis{
  margin: 10vw 0 10vw 5vw;
}

.itens-disponiveis_img{
  width: 100%;
  align-items: center;
}

.itens-disponiveis h2{
font-size: 700;
color: var(--black);
font-weight: bolder;
}

.itens-disponiveis li{
  line-height: 1.5;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  margin: 0 1.5%;
  box-sizing: border-box;
  padding-bottom: 5vw;
}

.itens-disponiveis_valor{
font-size: 16px;
color: black;
}

.itens-disponiveis_detalhes{
  color: var(--green);
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border-color: var(--green);
  cursor: pointer;
  background: none;
  text-decoration: underline;
  padding-left: 10px;
}

.itens-disponiveis_detalhes:hover{
  cursor: pointer;
}

.add_cart{
  width: auto;
  padding: 7px;
  color: var(--white);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--green);
  font-size: 11px;
}

.rodape{
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-blue);
  padding: 3em 0;
}

.lista-rodape{
  display: block;
  border-left: 1px solid var(--light-grey);
  padding-left: 1em;
}

.rodape__item{
  display: flex;
  align-items: center;
  margin: 0.6em 0;
  color: var(--white);
}

.rodape__titulo{
  font-size: 18px;
  color: var(--white);
  font-weight: 700;
  padding-bottom: 1em;
}

.newsletter{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--white);
}

.newsletter h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1em;
}

.newsletter p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 1em;
}

.standardinput{
  padding: 10px;
  margin: 5px;
}

.signup-newsletter{
  width: auto;
  padding: 12px;
  color: white;
  background-color: var(--dark-blue);
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}