.barra-lateral-navegacao
{
  display: -webkit-flex;
  display: flex;
}

.navegacao_lateral
{
  background: var(--light-grey);
  padding: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.navegacao_lateral ul
{
  text-align: right;
  margin-top: 80px;
  list-style-type: none;
}

.navegacao_lateral li
{
  padding-bottom: 30px;
}

.navegacao_lateral a
{
  text-decoration: none;
  color: var(--black);
  min-height: 100vh;
}

.navegacao_lateral a:hover
{
  font-weight: 700;
  text-decoration: underline;
}

.descricao-pagina
{
  background-color: var(--extra-light-grey);
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
 }

.descricao-pagina h1
{
  padding: 30px;
  font-size: 20px;

}

.descricao-pagina p
{
  padding-left: 30px;
  width: 65%;
  font-size: 14px;
}

.carrinho-tabela
{
  border-collapse: collapse;
  width: 50em;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0  10px 30px 5px rgba(0,0,0,.15);
  margin: 25px auto;
}

.carrinho-tabela thead tr
{
  border-bottom: 1px dashed var(--light-grey);
}

.carrinho-tabela tfoot tr
{
  border-top: 1px dashed var(--light-grey);
}

.carrinho-tabela thead tr td
{
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px;
}

.carrinho-tabela tfoot tr td
{
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--green);
  font-weight: 700;
  padding: 8px;
}

.carrinho-tabela tbody tr td
{
  padding: 8px;
}

.carrinho-tabela thead tr td:nth-last-child(1), 
.carrinho-tabela tbody tr td:nth-last-child(1),
.carrinho-tabela tfoot tr td:nth-last-child(1)
{
  text-align: right;
}

.carrinho-item-imagem
{
  width: 50px;
}

.botao-remover-item{
  font-size: 12px;
}

.confirmar-emprestimos
{
  margin: 2% 40%;
  justify-content: right;
  padding: 15px;
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--green);
  font-size: 15px;
}