.meus_itens_emprestados-tabela
{
  border-collapse: collapse;
  width: 70%;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0  10px 30px 5px rgba(0,0,0,.15);
  margin: 25px auto;
}

.meus_itens_emprestados-tabela thead tr
{
  border-bottom: 1px dashed var(--light-grey);
}

.meus_itens_emprestados-tabela tfoot tr
{
  border-top: 1px dashed var(--light-grey);
}

.meus_itens_emprestados-tabela thead tr td
{
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px;
}

.meus_itens_emprestados-tabela tfoot tr td
{
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px;
}

.meus_itens_emprestados-tabela tbody tr td
{
  padding: 8px;
  text-align: center;
}

.meus_itens_emprestados-tabela thead tr td:nth-last-child(1), 
.meus_itens_emprestados-tabela tbody tr td:nth-last-child(1),
.meus_itens_emprestados-tabela tfoot tr td:nth-last-child(1)
{
  text-align: right;
  padding-right: 5%;
}

.botao-entrar-em-contato{
  font-size: 12px;
}