.botao-devolver-agora{
  justify-content: right;
  padding: 7px;
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--green);
  font-size: 12px;
}