@import url(01_landing_page.css);
@import url(02_sign-up.css);
@import url(03_login.css);
@import url(07_atualizar_dados.css);
@import url(08_new_items.css);

:root{
  --white: #ffffff;
  --black: #000000;
  --green: #326731;
  --dark-blue: #1E1E23;
  --light-grey:#D9D9D9;
  --background-color: #D9D9D9;
  --fonts: "Poppins";
  --extra-light-grey: #F4F4F4;
}

body{
  background-color: var(--background-color);
  font-family: var(--fonts);
  font-size: 18px;
  font-weight: 400;
}