.barra-menu{
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-branca{
  width: 105px;
  margin: 0 78px
}

.links-menu{
  margin: 0 78px
}

.item-menu{
  display: inline;
  margin: 0 0 0 15px;
}

.links-menu a{
  text-decoration: none;
  color: var(--black);
}

.links-menu a:hover{
  color: var(--green);
  text-decoration: underline;
}

.banner{
  background-image: url(banner-img.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  height: 620px;
  background-position: top center;
}

.banner__titulo{
  color: var(--black);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  width: 60%;
  margin-left: 78px;
  text-align: left;
  padding: 40px 0 20px;
}

.banner p{
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 40px;
  line-height: 1.3;
  width: 40%;
 margin-left: 78px;
  text-align: left;
}


.botao-criar-conta-banner{
  width: 30%;
  padding: 15px;
  background: var(--green);
  color: white;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 78px;
}

.blocos{
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 78px;
}

.blocos__img{
  width: 50%;
  align-items: center;
  margin: 0 6em;
  padding: 5%;
}

.blocos_imagem_background{
  background-image: url(blocos_imagem1.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: top center;
  padding: 8% 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.botao-criar-conta{
  width: 30%;
  padding: 15px;
  background: var(--green);
  color: white;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.descricao__titulo{
  font-weight: 700;
  font-size: 48px;
  color: var(--black);
  margin: 0.1em 0.2em;
}

.bloco__descricao p{
  padding: 2em 0;
  font-size: 24px;
  margin: 0 0.2em;
}

.rodape{
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-blue);
  padding: 3em 0;
}

.lista-rodape{
  display: block;
  border-left: 1px solid var(--cinza-claro);
  padding-left: 1em;
}

.rodape__item{
  display: flex;
  align-items: center;
  margin: 0.6em 0;
  color: var(--white);
}

.rodape__titulo{
  font-size: 18px;
  color: var(--white);
  font-weight: 700;
  padding-bottom: 1em;
}

.newsletter{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--white);
}

.newsletter h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1em;
}

.newsletter p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 1em;
}

.standardinput{
  padding: 10px;
  margin: 5px;
}

.signup-newsletter{
  width: auto;
  padding: 12px;
  color: white;
  background-color: var(--dark-blue);
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}